<div class="bg-light min-h-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-brand">WebVote - admin</div>

      <button
        class="navbar-toggler"
        type="button"
        (click)="isMenuCollapsed = !isMenuCollapsed"
      >
        &#9776;
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [class.active]="activeRegisterLink.isActive">
            <a
              class="nav-link"
              [routerLink]="['user-management', 'register']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeRegisterLink="routerLinkActive"
              >Register voter</a
            >
          </li>
          <li class="nav-item" [class.active]="activeCreatePoolLink.isActive">
            <a
              class="nav-link"
              [routerLink]="['poll', 'create']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeCreatePoolLink="routerLinkActive"
              >Create poll</a
            >
          </li>

          <li ngbDropdown class="nav-item">
            <a
              ngbDropdownToggle
              class="nav-link"
              [class.active]="
                activePendingPollsListLink.isActive ||
                activeActivePollsListLink.isActive ||
                activeArchivedPollsListLink.isActive
              "
              >Polls</a
            >
            <ul ngbDropdownMenu>
              <button
                ngbDropdownItem
                [routerLink]="['poll', 'pending-polls-list']"
                (click)="isMenuCollapsed = true"
                routerLinkActive="active"
                #activePendingPollsListLink="routerLinkActive"
              >
                Pending polls
              </button>
              <button
                ngbDropdownItem
                [routerLink]="['poll', 'active-polls-list']"
                (click)="isMenuCollapsed = true"
                routerLinkActive="active"
                #activeActivePollsListLink="routerLinkActive"
              >
                Active polls
              </button>
              <button
                ngbDropdownItem
                [routerLink]="['poll', 'archived-polls-list']"
                (click)="isMenuCollapsed = true"
                routerLinkActive="active"
                #activeArchivedPollsListLink="routerLinkActive"
              >
                Archived polls
              </button>
            </ul>
          </li>

          <li ngbDropdown class="nav-item">
            <a
              ngbDropdownToggle
              class="nav-link"
              [class.active]="activeCountOfVotesPerOptionLink.isActive"
              >Analytics</a
            >
            <ul ngbDropdownMenu>
              <button
                ngbDropdownItem
                [routerLink]="['analytics', 'number-of-votes-per-option']"
                (click)="isMenuCollapsed = true"
                routerLinkActive="active"
                #activeCountOfVotesPerOptionLink="routerLinkActive"
              >
                Count of votes per option
              </button>
            </ul>
          </li>

          <li class="nav-item" [class.active]="activeUserProfileLink.isActive">
            <a
              class="nav-link"
              [routerLink]="['user-management', 'profile']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeUserProfileLink="routerLinkActive"
              >Profile</a
            >
          </li>
        </ul>
        <button class="btn btn-outline-light" appLogoutButton>Logout</button>
      </div>
    </div>
  </nav>
  <div class="container layout-container">
    <router-outlet></router-outlet>
  </div>
</div>
