<div class="bg-light min-h-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-brand">WebVote - admin</div>

      <button
        class="navbar-toggler"
        type="button"
        (click)="isMenuCollapsed = !isMenuCollapsed"
      >
        &#9776;
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [class.active]="activeRegisterLink.isActive">
            <a
              class="nav-link"
              [routerLink]="['user-management', 'register']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeRegisterLink="routerLinkActive"
              >Register voter</a
            >
          </li>
          <li class="nav-item" [class.active]="activeCreatePoolLink.isActive">
            <a
              class="nav-link"
              [routerLink]="['poll', 'create']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeCreatePoolLink="routerLinkActive"
              >Create poll</a
            >
          </li>
          <li
            class="nav-item"
            [class.active]="activeEditPollsListLink.isActive"
          >
            <a
              class="nav-link"
              [routerLink]="['poll', 'edit-polls-list']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeEditPollsListLink="routerLinkActive"
              >Edit polls</a
            >
          </li>
          <li
            class="nav-item"
            [class.active]="activeViewPollsListLink.isActive"
          >
            <a
              class="nav-link"
              [routerLink]="['poll', 'vote-polls-list']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeViewPollsListLink="routerLinkActive"
              >Active polls</a
            >
          </li>
          <li class="nav-item" [class.active]="activePollsResultsLink.isActive">
            <a
              class="nav-link"
              [routerLink]="['analytics', 'polls-results']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activePollsResultsLink="routerLinkActive"
              >Polls results</a
            >
          </li>
        </ul>
        <button class="btn btn-outline-light" appLogoutButton>Logout</button>
      </div>
    </div>
  </nav>
  <div class="container layout-container">
    <router-outlet></router-outlet>
  </div>
</div>
