<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="oldPasswordInput">Old password</label>
    <input
      [formControl]="oldPasswordControl"
      [class.is-invalid]="formHelper.isInvalidAndTouched(oldPasswordControl)"
      type="password"
      class="form-control"
      id="oldPasswordInput"
      placeholder="Old password"
    />
    <div
      class="invalid-feedback"
      *ngIf="oldPasswordControl.hasError('required')"
    >
      Old password should not be empty
    </div>
    <div
      class="invalid-feedback"
      *ngIf="oldPasswordControl.hasError('missmatchError')"
    >
      Invalid password
    </div>
  </div>

  <div class="form-group">
    <label for="newPasswordInput">New password</label>
    <input
      [formControl]="newPasswordControl"
      [class.is-invalid]="formHelper.isInvalidAndTouched(newPasswordControl)"
      type="password"
      class="form-control"
      id="newPasswordInput"
      placeholder="New password"
    />
    <div class="invalid-feedback">New password should not be empty</div>
  </div>
  <button [disabled]="form.disabled" type="submit" class="btn btn-primary">
    Change password
  </button>
</form>
