<div class="bg-light min-h-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-brand">WebVote - manager</div>

      <button
        class="navbar-toggler"
        type="button"
        (click)="isMenuCollapsed = !isMenuCollapsed"
      >
        &#9776;
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [class.active]="activeRegisterLink.isActive">
            <a
              class="nav-link"
              [routerLink]="['user-management', 'register']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeRegisterLink="routerLinkActive"
              >Register voter</a
            >
          </li>
          <li
            class="nav-item"
            [class.active]="activeActivePollsListLink.isActive"
          >
            <a
              class="nav-link"
              [routerLink]="['poll', 'active-polls-list']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeActivePollsListLink="routerLinkActive"
              >Active polls</a
            >
          </li>
          <li
            class="nav-item"
            [class.active]="activeArchivedPollsListLink.isActive"
          >
            <a
              class="nav-link"
              [routerLink]="['poll', 'archived-polls-list']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeArchivedPollsListLink="routerLinkActive"
              >Archived polls</a
            >
          </li>

          <li class="nav-item" [class.active]="activeUserProfileLink.isActive">
            <a
              class="nav-link"
              [routerLink]="['user-management', 'profile']"
              (click)="isMenuCollapsed = true"
              routerLinkActive
              #activeUserProfileLink="routerLinkActive"
              >Profile</a
            >
          </li>
        </ul>
        <button class="btn btn-outline-light" appLogoutButton>Logout</button>
      </div>
    </div>
  </nav>
  <div class="container layout-container">
    <router-outlet></router-outlet>
  </div>
</div>
