<div class="card">
  <div class="card-body">
    <h2 class="card-title text-center">Profile</h2>
    <hr />
    <div
      class="list-group list-group-flush"
      *ngIf="personInfo$ | async as personInfo; else loadingProfile"
    >
      <div class="list-group-item">
        <span> Full name: </span>
        <strong>{{ personInfo.fullName }}</strong>
      </div>
      <div class="list-group-item">
        <span> Region: </span>
        <strong>{{ personInfo.region }}</strong>
      </div>
      <div class="list-group-item">
        <span> Birth: </span>
        <strong>{{ personInfo.birth | date: defaultDateFormat }}</strong>
      </div>
      <div class="list-group-item">
        <span> ITN: </span>
        <strong>{{ personInfo.individualTaxNumber }}</strong>
      </div>
      <div class="list-group-item">
        <span> Login: </span>
        <strong>{{ personInfo.login }}</strong>
      </div>
      <div class="list-group-item">
        <span> Role: </span>
        <strong>{{ personInfo.role }}</strong>
      </div>
    </div>

    <ng-template #loadingProfile>
      <app-spinner></app-spinner>
    </ng-template>

    <hr class="my-4" />

    <h4 class="text-center">Change password</h4>
    <app-change-password></app-change-password>
  </div>
</div>
