<div
  class="card"
  *ngIf="pollsTitles$ | async as pollsTitles; else loadingPollsTitles"
>
  <div class="card-body">
    <h2 class="card-title text-center">
      <ng-content select="[slot-title]"></ng-content>
    </h2>
    <hr />
    <p class="hide-next-if-empty">
      <ng-content select="[slot-description]"></ng-content>
    </p>
    <hr />
    <div *ngIf="pollsTitles.length !== 0; else noPolls">
      <div class="form-group">
        <label for="pollSelect">Poll</label>
        <select class="form-control" id="pollSelect" #pollSelect>
          <option *ngFor="let pollTitle of pollsTitles" [value]="pollTitle.id">
            {{ pollTitle.id }}) {{ pollTitle.title }}
          </option>
        </select>
      </div>
      <div class="btn-group">
        <button
          class="btn btn-primary"
          (click)="onResultRequested()"
          [disabled]="isResultsLoading"
        >
          Request results
        </button>
        <button
          class="btn btn-success"
          (click)="onCsvRequested()"
          [disabled]="isCsvLoading"
        >
          Download CSV
        </button>
      </div>
    </div>

    <ng-template #noPolls>
      <p class="card-text">You have to create at least one poll</p>
    </ng-template>

    <app-data-table
      *ngIf="pollsOptionsVotes$ | async as pollsOptionsVotes"
      [header]="tableHeader"
      [value]="pollsOptionsVotes"
    ></app-data-table>
    <app-spinner *ngIf="isResultsLoading"></app-spinner>
  </div>
</div>
<ng-template #loadingPollsTitles>
  <app-spinner></app-spinner>
</ng-template>
